*, ::after, ::before{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    background-color: black;
}

.container{
    margin: auto;
    width: 95%;
    margin-top: 20px;
    margin-bottom: 50px;
    background-color: #fff;
    border-radius: 10px;
}

.head{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.logo{
    width: 5%;
    min-width:50px;
}

.logo img{
    width: 100%;
    object-fit: cover;
}

.logo img:hover{
    cursor: pointer;
}

.connect-wallet{
    border-radius: 5px;
    background-color: black;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    padding: 15px;
}

.connect-wallet:hover{
    color: #a9a9a9;
    cursor: pointer;
    transform: translateY(-3px);
}

.collectibles{
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: center;
    padding-bottom: 30px;
    /* height: calc(100vh - 300px);/ */
    height: 90vh;
    min-width: 300px;
    max-height: 100vh;
    border-radius: 0px;
    border: 0px solid white;
    display: flex;
    margin-top: 0px;
}

.edittrax{
    /* padding: 10px; */
    height:100%
}

.edittrax iframe{
    width: 500px;
    height: 100%;
    max-width: 100%;
    border: none;
}

.collect{
    background-color: #000;
    color: #fff;
    font-size: 25px;
    font-weight: bold;
    padding: 15px;
    width: 40%;
    border-radius:5px;
}

.collect:hover{
    color: #a9a9a9;
    cursor: pointer;
    transform: translateY(-3px);
}

.metrics{
    display: flex;
    flex-direction: row;    
    justify-content: space-evenly;
    align-items: center;
    background-color: #000;
    color: #fff;
    padding: 10px;
}

.bai{
    margin: 10px;
    padding: 5px;
}

.info{
    display: flex;
    flex-direction: row;
    margin: 10px;
    padding-bottom: 25px;
}

.graphix{
    width: 30%;    
}

.graphix img{
    width: 100%;
    object-fit: cover;
    display: block;
}

.bai-info{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 100%;
}

.bai-info h1{
    font-size: 40px;
    font-weight: bold;    
}

.bai-info p{
    font-size: 40px;
    font-weight: bold;
    padding-bottom: 15px;
    color: lightgray;
}

.bai-info button{
    padding: 8px;
    border-radius: 10px;
    border: none;
    background-color: darkgray;
}

.description{
    display: flex;
    flex-direction: row;
    margin: 10px;
    padding-bottom: 25px;
}

.details{
    width: 30%;
    display: flex;
    flex-direction: column;
    gap: 10px 0;   
}

.description-info{
    width: 100%;
    padding: 10px;
    font-size: 20px;
}

.description-info div{
    padding-bottom: 15px;
}

.description-image{
    width: 100%;
}

.description-image img{
    width: 100%;
    object-fit: cover;
}

div h1{
    padding-bottom: 15px;
}

.genesis-collection{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 70px;
}

.genesis-heading h1{
    font-size: 25px;
    d-weight: bold;
}

.image-collection{    
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: space-evenly;   
    padding-bottom: 10px;
}

.open-source, .acid-beach, .burnt, .boxed{
    width: 20%;
}


.open-source img{
    width: 100%;
    object-fit: cover;
    display: block;
    cursor: pointer;
}
.acid-beach img{
    width: 100%;
    object-fit: cover;
    display: block;
    cursor: pointer;
}
.burnt img{
    width: 100%;
    object-fit: cover;
    display: block;
    cursor: pointer;
}

.boxed img{
    width: 100%;
    object-fit: cover;
    display: block;
    cursor: pointer;
}

.miscellaneous{
    margin: 15px;
    padding: 5px;
}

.row1{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 10px;
    width: 100%;
}

.row2{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 10px;    
    width: 100%;
}


.column{
    display: flex;    
    flex-direction: column;    
    flex-basis: 100%;
    flex: 1;
    column-gap: 10px;
    padding-bottom: 20px;
    align-items: center;
    gap: 10px;
}

.column div img{
    width: 100%;
    object-fit: cover;
    display: block;
}

form{
    width: 100%;
    display: block;
}

.contact input{
    padding: 10px;
    border-radius: 7px;
    margin: 5px;
    background-color: #000;    
    color: #fff;
    border: none;
}

.contact textarea{
    width: 100%;
    border-radius: 7px;
    margin: 5px;
    border: none;
    color: #fff;
    background-color: #000;    
    padding: 5px;
}

.contact button{    
    padding: 10px;
    border-radius: 10px;
    color: #fff;
    background-color: #000;
}

.footer{
    background-color: #000;
    color: #fff;
    padding: 15px;
}

.footer-info{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;      
}

.foot{
    display: flex;
    flex-direction: column;
    align-items: center;
}

hr { 
    display: block;
    margin: 2em;
    width: auto;
    overflow: hidden; 
    border-style: inset; 
    border-width: 1px;
}


.foot-note{
    text-align: center;    
}

.loader{
    display: flex;
    align-items: center;
    justify-content: center;   
    height: 70px;
    width: 100px;
    animation: 1s linear infinite;    
}

.loader img{
    border: none;
    width: 100%;
    object-fit: cover;
}


@media  screen and (max-width: 600px) {
   

    .image-collection{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;        
    }    

    .metrics{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        flex: 20%;
    }
}

@media  screen and (max-width: 900px) {
    .info{
        display: flex;
        flex-direction: column;
        align-items: center;        
        gap: 10px;
    }

    .description{
        display: flex;
        flex-direction: column;               
        align-items: center;
        gap: 10px;
        width: 100%;
    }

    .image-collection{
        display: flex;
        flex-direction: row;        
        align-items: center;
        gap: 10px;
    }

    .row1{
        display: flex;
        flex-direction: column;
    }
    .row2{
        display: flex;
        flex-direction: column;
    }

    .footer-info{
        display: flex;
        flex-direction: column;
        gap: 25px;
    }
}